
# Frontend origin (CORS)
FRONTEND_ORGIN=http://localhost:3000,https://gnosis-safe.io/

# Server port
SERVER_PORT=3001

# Faucet private key
PRIVATE_KEY=

# Faucet contracts
FAUCET_CONTRACT_ADDRESS_RINKEBY=0xE79aCb07499c229e98D14FF023D951ac824Baf8b
FAUCET_CONTRACT_ADDRESS_GNOSIS_CHAIN=0x4cA9fA8d645A825B8B279ff9960210F9D4E1eABC